doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Document
    link(
      href="/stylesheets/Home.css" 
      rel="stylesheet"
      )
    link(
      href="https://fonts.googleapis.com" 
      rel="preconnect"
      )
    link(
      crossorigin="" 
      href="https://fonts.gstatic.com" 
      rel="preconnect"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
      rel="stylesheet"
      )
  body
    section.container
      header
        .header-content
          .profile
            span.profile-icon-background
              i.fa-solid.fa-user
            h1.username #{user}
          .logout-container
            button.logout-button(onclick="logout()")
              i.fa-solid.fa-arrow-right-from-bracket
              | Logout
      .main-container
        .left-content WORK IN PROGRESS
        .right-content
          .task-header
            p
            h1.task-header-text TASKS
            button.createTask(onclick="createTask()") Add Task
          #taskContainer.task-container
          #overlay.overlayALL
            .form-modal
              button.close(onclick="closeForm()")
                i.fa-solid.fa-x
              .form
                h2 CREATE TASK
                form#taskForm
                  .input-group
                    label(for="taskName") TASK NAME
                    input#taskName(
                      placeholder="Enter task name" 
                      required="" 
                      type="text"
                      )
                  .input-group
                    label(for="taskDesc") TASK DESCRIPTION
                    textarea#taskDesc(
                      required="" 
                      rows="5"
                      )
                  button.submit-btn(type="submit") Add Task
    script.
      window.task_data = JSON.parse(`!{JSON.stringify(task_data)}`); // declare task_data as global variable
    script(type='text/javascript' src="/javascript/home.js").