doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Task to do
    link(
      href="/stylesheets/Home.css" 
      rel="stylesheet"
      )
    link(
      href="https://fonts.googleapis.com" 
      rel="preconnect"
      )
    link(
      crossorigin="" 
      href="https://fonts.gstatic.com" 
      rel="preconnect"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      )
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
      rel="stylesheet"
      )
  body
    .ctnr
      nav
        h2 Task to do
        .nav-right
          i.fa-solid.fa-user
          h3 !{user} 
          p#logout.nav-button(onclick="logout()") logout
      .main-container
        .task-data
        .task-list
          h1 Tasks
          .configure-tasks
            button(onclick="createTask()") +
            button#remove-task-button
              i.fa-solid.fa-trash
          .tasks
          .delete-container
            button#delete-button delete
      #overlay
      #form-modal
        button#closeForm(onclick="closeForm()")
          i.fa-solid.fa-x
        h2 CREATE TASK
        form#taskForm
          label(for="taskName") TASK NAME
          input#taskName(
            placeholder="task name" 
            required="" 
            type="text"
            )
          label(for="taskDesc") TASK DESCRIPTION
          textarea#taskDesc(
            placeholder="task description" 
            required="" 
            rows="7"
            )
          button#task-submit-btn.button-style.process-button-color(type="submit") Add Task
      #confirmation
  script.
        window.task_data = JSON.parse(`!{JSON.stringify(task_data)}`); // declare task_data as global variable
  script(src="/javascript/home.js")